
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FollowMusic</title>
</head>
<body>]
    <h1 style="text-align:center;">Добро пожаловать в систему FollowMusic!</h1>
    <div>
        <img src="https://img-fotki.yandex.ru/get/195853/222405017.191/0_131d15_60916a77_orig" width="800" height="400" hspace="200">

    </div>
</body>
</html>